body {
  background-color: #282c34;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
